<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common :: head"/>
<body>

<script type="text/javascript" th:inline="javascript">
	var role = "[(${role})]";

	var students = [];

	/*[# th:each="user : ${users}"]*/

	students.push({
		name: "[(${user.getLastName()})]" + ", " + "[(${user.getFirstName()})]",
		progress: "[(${progress.get(user.getId())})]",
		id: "[(${user.getId()})]"
	});

	/*[/]*/

	function getStudentProgressDetail(id) {
		$.get("[(@{/})]" + "/indivProgress/" + id, function (data, status) {
			if (status == "success") {
				console.log(status);
				console.log(JSON);

				buildModalTable(JSON.parse(data));
			}
		});
	}
</script>

<div class="portletBody">
	<div id="menu" th:insert="fragments/menus :: main(index)"/>

	<div th:switch="${role}">
		<div th:case="student">
			<h3 th:text="'Progress Report for ' + ${users[0].getLastName()} + ', ' +  ${users[0].getFirstName()}">Progress Report For</h3>
			<div id="studentDiv" style="overflow: auto"></div>
		</div>
		<div th:case="instructor">
			<table id="progressTable">
				<thead>
				<tr>
					<th id="leftHeader" class="leftHeader currentCol, header" role="columnheader">
						<div class="relative" style="backgroundposition: relative; height: 100%;">
							<div class="colHeader">
								<a>
									Students
								</a>
							</div>
							<div class="btn-group" style="position:absolute; bottom:0px; right: 0px;">
								<a class="btnbackground btn-sm btn-default dropdown-toggle"
								   style="backgroundposition:absolute; bottom:0px; right: 0px;"
								   data-toggle="dropdown" href="#" role="button" aria-haspopup="true" tabindex="-1"
								   title="Open menu for the students column">
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu dropdown-menu-right" role="menu">
									<li>
										<a class="gb-student-name-order-toggle" data-order-by="first_name" href="#" onclick="getStudents(FIRST)">
											Order By First Name
										</a>
									</li>
									<li>
										<a class="gb-student-name-order-toggle" data-order-by="last_name" href="#" onclick="getStudents(LAST)">
											Order By Last Name
										</a>
									</li>
									<li>
										<a class="gb-student-name-order-toggle" onclick="reverseStudentOrder()" href="#">Reverse List Order</a></li>
									</li>
								</ul>
							</div>
						</div>
					</th>
					<th id="rightHeader" class="header" role="columnheader">
						<span class="colHeader hide">1</span>
						<div class="relative">
							<a>
								Progress
							</a>
						</div>
					</th>
				</tr>
				</thead>
				<tbody id="progressTableBody"></tbody>
			</table>
			<div id="modal" style="overflow-y: scroll">
				<a href="#" id="close">&times;</a>
				<h3 id="modalHeader"></h3>
				<div id="tableDiv" ></div>
			</div>

			<div id="overlay"></div>
		</div>
	</div>
</div>
</body>
</html>
