<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<head th:fragment="head">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/progress.css}"/>
    <script type="text/javascript" th:src="@{/js/progress.js}"></script>
    <script type="text/javascript" src="/library/js/headscripts.js"></script>
    <script type="text/javascript">includeLatestJQuery('sakai.widget');</script>
    <script type="text/javascript">includeWebjarLibrary('jquery.tablesorter');</script>
    <title th:text="#{common.title}">Sakai Progress Tool</title>
</head>
</body>
</html>
